{% extends 'template.html' %}
{% block content %}
<form method="POST" action="">
    <tbody>
                <input type="text" name="nro1">
                <select id="operacao" name="operacao">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
                <input type="text" name="nro2">
                <button type="submit">Calcular</button>
            <br>
            {% if resp%}
            <p>Resposta {{resp}}</p>
            {%endif%}
        </tbody>
    </table>
</form>

{% endblock %}