{% extends 'template.html' %}
{% block content %}
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>ID</th>
            <td></td>
            <th>LOGS</th>

        </tr>
    </thead>
    <tbody>
        {% for equacao in equacoes %}
        <tr>
            <th>{{ equacao.id }}</th>
            <td></td>
            <td><a href='/equacoes/{{ equacao.id }}/mudancas/'>LOGS</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
