name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Python 3.8
      - uses: actions/setup-python@v2
      - with:
        python-version: 3.8
      - name: Dependencias
        run: python -m pip install --upgrade pip && pip install -r requirements.txt
      - name: Testes
        run: python -m pytest