name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Python 3.8
      - uses: actions/setup-python@v2
      - with:
        python-version: 3.8
      - name: Dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt;
      - name: Testes
        run: |
          python -m pytest
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "edu-kalculadora"
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          usedocker: true
      - name: "Login to heroku registry"
        run: heroku container:login

      - name: "Build and push to heroku registry"
        run: heroku container:push web --app edukalculadora

      - name: "Releases the container"
        run: heroku container:release web --app edukalculadora